@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

*:focus {
  border: none;
  outline: none;
}

body {
  background-color: #F0F2F6;
  font-size: 93.75%;
}

.full {
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  margin-top: 1rem;
  border: none;
  border: 3px solid #fff;
  font-size: .9rem;
  padding: .7rem;
  border-radius: 30px;
}

input:focus {
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.39)
}

.card, input {
  width: min(450px, 90%);
  min-width: 280px;
}

.card img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  margin-bottom: -5px;
}

.hidden {
  display: none;
}

.topside img {
  border-radius: 30px 30px 0 0;
}

.botside {
  padding: 2rem 1rem 0 1rem;
  margin-top: -5px;
  width: 100%;
  border-radius: 0 0 30px 30px;
  background-color: #FFF;
}

.botside img {
  margin: -4rem 0 -1rem 0;
  max-width: 150px;
}

h1 {
  margin-top: -1rem;
  text-align: center;
  font-size: 2.3rem;
}

p {
  text-align: center;
  font-size: 1.3rem;
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: #6FBBEE;
  font-size: 5.5rem;
  font-family: 'Fugaz One', cursive;
}

.grau {
  position: relative;
  right: 1rem;
  letter-spacing: -20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.logo {
  max-width: 36px;
  padding-bottom: 1rem;
}

@media screen and (min-width: 500px) {
  input {
    margin-top: 0;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .botside img {
    margin: -5.5rem 0 -3rem 0;
    max-width: 250px;
  }
  h1 {
    margin-top: -1rem;
    text-align: center;
    font-size: 2.5rem;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
  span {
    font-size: 7rem;
  }
  .botside {
    padding: 2rem 1rem;
  }
  .logo {
    max-width: 48px;
    padding-bottom: 0;
  }
}