@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

*:focus {
  border: none;
  outline: none;
}

body {
  background-color: #F0F2F6;
  font-size: 93.75%;
}

.full {
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border: none;
  border: 3px solid #fff;
  font-size: .9rem;
  padding: 1rem;
  border-radius: 30px;
}

input:focus {
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.39)
}

.card, input {
  width: min(500px, 80%);
}

.card img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  margin-bottom: -5px;
}

.hidden {
  display: none;
}

.topside img {
  border-radius: 30px 30px 0 0;
}

.botside {
  padding: 2rem 1rem;
  margin-top: -5px;
  width: 100%;
  border-radius: 0 0 30px 30px;
  background-color: #FFF;
}

.botside img {
  margin: -6.5rem 0 -2.3rem 0;
  max-width: 200px;
}

h1 {
  margin-top: -1rem;
  text-align: center;
  font-size: 2.5rem;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: #6FBBEE;
  font-size: 7rem;
  letter-spacing: -1px;
  font-family: 'Fugaz One', cursive;
}

.grau {
  position: relative;
  right: 1.25rem;
  letter-spacing: -20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.logo {
  max-width: 48px;
}

@media screen and (min-width: 600px) {
  input {
    font-size: 1.2rem;
  }
}